<div class="sidebar" data-controller="sidebar">
  <%= link_to dashboard_path, class: "sidebar-link" do %>
    <div class="review-platform-card <%= 'selected' if controller_name == 'review_platforms' && action_name == 'dashboard' %> overview-card"
      <%# data-sidebar-target="card" %>
      <%# data-action="click->sidebar#highlight" %>
    >
      <span>Overview</span>
    </div>
  <% end %>
  <hr class="separator"> <!-- Horizontal line separator -->
  <!-- Review Platform Cards -->
  <% if current_user %>
    <% current_user.review_platforms.each do |platform| %>
      <%= link_to review_platform_path(platform),class: "sidebar-link " do %>
        <div class="review-platform-card <%= 'selected' if @review_platform == platform %>"
             <%# data-sidebar-target="card" %>
             <%# data-action="click->sidebar#highlight" %>
        >
          <i class="<%= platform.logo_url %>"></i>
          <span><%= platform.name.capitalize %></span>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <div class="add-platform-section">
    <div class="review-platform-card add-platform-card" data-action="click->sidebar#togglePanel" data-sidebar-target="toggleButton">
      <i class="fas fa-plus-circle"></i>
      <span>Add New Platform</span>
    </div>
  </div>
  <hr class="separator">
  <div>
    <div class="review-platform-card">
      <%= link_to 'Manage Reviews', reviews_manage_path, class: "sidebar-link", style: "font-style: italic;" %>
    </div>
  </div>
  <%= render "shared/slide-in" %>
</div>
