<div class="review-card">
  <div class="review-details">
    <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw3NjA4Mjc3NHx8ZW58MHx8fHx8&w=1000&q=80" alt="profile_picture" id="round-picture">
      <div class="name-rating">
        <p><strong></strong> <%= review.reviewer_name %></p>
          <div class="rating-stars">
          <%= render_stars(review.rating) %>
        </div>
      </div>
  </div>
  <div class="review-content">
    <p><%= review.content %></p>
  </div>
</div>

<div class="reply-card">
  <div class="review-reply">
    <textarea class="reply-input" placeholder="reply..."></textarea>
  </div>
</div>

<div class="categories-card">
  <div class="categories">
    <%= simple_form_for [@current_review, ReviewCategory.new], url: review_review_categories_path(@current_review), method: :post do |f| %>
      <%= f.collection_select :category_id, Category.all, :id, :name, {}, class: "select2-enable", multiple: "multiple", data: { controller: "category-dropdown" } %>
      <%= f.button :submit, "Save Categories", class: "categories-button" %>
    <% end %>
  </div>
    <div>
      <h5>Current Categories</h5>
        <div class="current-categories-container">
          <ul class="category-list">
              <% @current_review.categories.each do |category| %>
                <li class="category-item"><button class="selected-categories"><%= category.name %></button></li>
              <% end %>
          </ul>
        </div>
    </div>
</div>

<div class="buttons-container">
  <a href="https://www.google.com/local/review/rap/report?postId=ChdDSUhNMG9nS0VJQ0FnSUR4OGYtNXZBRRAB&entityid=ChdDSUhNMG9nS0VJQ0FnSUR4OGYtNXZBRRIsChZDSUhNMG9nS0VJQ0FnSUR4OGYtNWZBEhJDZ3NJXzlPU3BBWVF5SUR0VmcaLQoXQ0lITTBvZ0tFSUNBZ0lEeDhmLTVfQUUSEkNnc0lfOU9TcEFZUXlJRHRWZyISCaF1eq_8oqQSEXepQn3549x7KhNDZ3dJczl1U3BBWVFxTGV6dXdN&wv=1&d=286732336" class="dispute-button" target="_blank">Open Dispute</a>
  <%= link_to 'Send Reply', reviews_next_review_path, class: "reply-button" %>
</div>
