<div class="container">
  <div class="row my-4">
    <div class="col-3">
      <div class="kpi-box">
        <div class="icon-title">
          <i class="fa-solid fa-hashtag"></i> <!-- Font Awesome icon -->
          <h2 class="kpi-header">Ratings</h2>
        </div>
        <h4 class="kpi-subtitle">(Total)</h4>
        <p class="kpi-value"><%= @ratings_total %></p>
      </div>
    </div>
    <div class="col-6">
      <div class="kpi-box">
        <div class="icon-title">
          <i class="fas fa-chart-line kpi-icon"></i> <!-- Font Awesome icon -->
          <h2 class="kpi-header"># of ratings per day in time period</h2>
        </div>
        <h4 class="kpi-subtitle">(Total)</h4>
        <div class="kpi-value overview-chart"><%= line_chart Review.where(id: params[:id]).group_by_day(:created_at).count %></div>
      </div>
    </div>
    <div class="col-3">
      <div class="kpi-box">
        <div class="icon-title">
          <i class="fa-solid fa-hashtag"></i><!-- Font Awesome icon -->
          <h2 class="kpi-header">Ratings</h2>
        </div>
        <h4 class="kpi-subtitle">(Past 14 days)</h4>
        <p class="kpi-value"><%= @ratings_total %></p>
      </div>
    </div>
  </div>
    <div class="row mb-4">
    <div class="col-6">
      <div class="review-box">
        <div class="review-box-header">
          <div class="five-star-icon">
            <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          </div>
          <h2>Most recent one star review</h2>
          <span> <%= @latest_one_star_review.created_at.to_date %>
        </div>
        <div class="review-box-content">
          <p><%= @latest_one_star_review.content %></p>
        </div>
     </div>
    </div>
    <div class="col-6">
      <div class="review-box">
        <div class="review-box-header">
          <div class="five-star-icon">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <h2>Most recent five star review</h2>
          <span> <%= @latest_one_star_review.created_at.to_date %>
        </div>
        <div class="review-box-content">
          <p><%= @latest_five_star_review.content %></p>
        </div>
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="kpi-box">
        <div class="icon-title">
          <i class="fa-solid fa-down-long"></i> <!-- Font Awesome icon -->
          <h2 class="kpi-header">Negative Categories</h2>
        </div>
        <h4 class="kpi-subtitle">(#reviews)</h4>
        <div class="kpi-container">
          <div class="kpi-category-icons">
            <i class="fa-solid fa-down-long"></i>
            <i class="fa-solid fa-down-long"></i>
            <i class="fa-solid fa-down-long"></i>
          </div>
          <div class="kpi-category-names">
            <span class="kpi-category-name">Hygiene</span>
            <span class="kpi-category-name">Service</span>
            <span class="kpi-category-name">Ambience</span>
          </div>
          <div class="kpi-category-values">
            <span class="kpi-category-value">300</span>
            <span class="kpi-category-value">200</span>
            <span class="kpi-category-value">100</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="kpi-box">
        <div class="icon-title">
          <i class="fas fa-chart-line kpi-icon"></i> <!-- Font Awesome icon -->
          <h2 class="kpi-header"># of ratings per day in time period</h2>
        </div>
        <h4 class="kpi-subtitle">(Total)</h4>
        <div class="kpi-value overview-chart"><%= column_chart @ratings_count %></div>
      </div>
    </div>
    <div class="col-3">
      <div class="kpi-box">
        <div class="icon-title">
          <i class="fa-solid fa-up-long"></i> <!-- Font Awesome icon -->
          <h2 class="kpi-header">Positive Categories</h2>
        </div>
        <h4 class="kpi-subtitle">(#reviews)</h4>
        <div class="kpi-container">
          <div class="kpi-category-icons">
            <i class="fa-solid fa-down-long"></i>
            <i class="fa-solid fa-down-long"></i>
            <i class="fa-solid fa-down-long"></i>
          </div>
          <div class="kpi-category-names">
            <span class="kpi-category-name">Hygiene</span>
            <span class="kpi-category-name">Service</span>
            <span class="kpi-category-name">Ambience</span>
          </div>
          <div class="kpi-category-values">
            <span class="kpi-category-value">300</span>
            <span class="kpi-category-value">200</span>
            <span class="kpi-category-value">100</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
